{% load i18n static wagtailcore_tags wagtailimages_tags wagtail_dsfr_tags %}

{% if user.is_authenticated %}
{% translate "My user space" as user_menu_label %}
<li class="fr-usermenu fr-nav">
  <div class="fr-nav__item">
    <button
      aria-controls="user-menu"
      aria-expanded="false"
      title="{{ user_menu_label }}"
      type="button"
      class="fr-usermenu__btn fr-btn fr-btn--tertiary fr-icon-account-circle-fill">
      {{ user_menu_label }}
    </button>
    <div class="fr-collapse fr-usermenu__menu fr-menu" id="user-menu">
      <ul class="fr-menu__list">
        <li>
          <div class="fr-usermenu__item">
            <strong>{{ user.get_full_name }}</strong>
            <br />
            <span class="fr-text--sm">{{ user.email }}</span>
          </div>
        </li>
        <li>
          {% if perms.wagtailadmin.access_admin %}
            <a class="fr-nav__link fr-btn fr-icon-user-setting-fill" href="{% url 'wagtailadmin_account' %}">
              {% translate "Account settings" %}
            </a>
          {% endif %}
        </li>
        <li>
          {# The logout operation has to be performed via a POST with a csrf token for security reasons, so using a form. #}
          {# Cf. https://docs.djangoproject.com/en/5.1/releases/4.1/#log-out-via-get #}
          <form class="fr-usermenu__item" action="{% settings_value 'LOGOUT_URL' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="fr-btn fr-btn--tertiary fr-icon-logout-box-r-line">
              {% translate "Log out" %}
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</li>
{% elif settings.content_manager.CmsDsfrConfig.header_login_button %}
  <li>
    <a class="fr-btn fr-btn--tertiary fr-icon-lock-line"
        href="{% settings_value 'LOGIN_URL' %}">{% translate "Log in" %}</a>
  </li>
{% endif %}
